form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.inputContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

form label {
    font-size: 1.4rem;
}

form input {
    width: 50%;
    height: 2rem;
    border-radius: 4px;
    padding: 0.5rem;
}

form select {
    width: 20%;
    height: 3rem;
    border-radius: 4px;
}

form textarea {
    font-family: inherit;
    resize: none;
    padding: 1rem;
    border-radius: 4px;
    width: 50%;
    height: 20rem;
}

form button {
    font-size: 1.6rem;
    font-family: inherit;
    border: 1px solid var(--color-black);
    border-radius: 4px;
    background-color: var(--color-highlight);
    padding: 0.5rem;
    width: fit-content;
}

form button:hover {
    background-color: var(--color-highlight-lighter);
}

form button:active {
    background-color: var(--color-highlight-darker);
}